version: "3"

services:

  webapp:
    build: ./webapp
    restart: always
    volumes:
      - logs:/app/logs
      - copias:/app/copias
    environment:
      TZ: America/Sao_Paulo

    expose:
      - 5000

  nginx:
    build: ./nginx
    restart: always
    environment:
      TZ: America/Sao_Paulo
    ports:
      - "8080:80"



volumes:
  logs:
  copias:
